/*----------------------------------------------------
Base
----------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing:inherit;
}

/*----------------------------------------------------
Generic
----------------------------------------------------*/

.wrapper{
    max-width: 1000px;
    margin:0 auto;
}

body{
    margin:0px;
    padding:0px;
    font-family: "Roboto", "Dosis", serif;
    background-color: #e3e4e4;
    font-size: 16px;
}

/*----------------------------------------------------
Components
----------------------------------------------------*/

/*Header*/

header{
    background-color: #FFFFFF;
}

nav h1{
font-family: "Dosis", serif;
font-size: 43.34px;
font-weight: bold;
color: #000000;
}

nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
}

nav .ul{
    padding-top: 50px;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 25px;
}

nav .navi{
    color: #000000;
    font-family: "Dosis", serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

nav .navi:hover{
    color: #FFFFFF;
    background-color: #0E5EA1;
    border-radius: 5px;
}

/*Section Hero*/

.hero{
    background-image: url(../images/montagne.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero .boite{
    height: 119px;
    width: 455px;
    border-radius: 10px;
    background-color: #000000;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.hero .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; 
}

.hero h4{
    margin: 0;
    color: #FFFFFF;
    font-family: "Dosis", serif;
    font-size: 36px;
    font-weight: bold;
}

.hero h2{
    margin: 0;
    color: #2FCB48;
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: 400;
}

/*Section Contenu*/

.contenu .groupe{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

article{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

article img{
    padding-bottom: 32px;
}

.contenu h3{
   margin:0px;
   font-size: 24px;
   font-family: "Dosis", serif;
   font-weight: bold;
}

.contenu p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenu p{
   margin: 0px;
   font-weight: 400;
   font-family: "Roboto", serif;
}

.boutoncontenu{
   font-family: "Dosis", serif;
   font-weight: bold;
   font-size: 14px;
   align-self: center;
}

/*Section Footer*/

.footer{
    padding-bottom: 40px;
}

/*Footer*/

footer{
     background-color: #000000;
     height: 72px;
}

footer .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #FFFFFF;
    font-family: "Roboto", serif;
    font-size: 16px;
    font-weight: 400;
}